# More information about the configuration file can be found here:
# https://docs.aws.amazon.com/serverless-application-model/latest/developerguide/serverless-sam-cli-config.html
version = 0.1

[default.global.parameters]
stack_name = "school-management-sam"
region = "us-east-2" 

[default.build.parameters]
parallel = true
cached = true

[default.validate.parameters]
lint = true

[default.deploy.parameters]
capabilities = "CAPABILITY_IAM"
confirm_changeset = true
resolve_s3 = true
resolve_image_repos = true
s3_prefix = "school-management-sam"

image-repository = ["SchoolApiFunction=343218189535.dkr.ecr.us-east-2.amazonaws.com/rvk-school-api"]

# Reference the SSM paths created by Terraform
# These must match the 'name' that I can gave in my outputs.tf 
parameter_overrides = "VpcId=\"/school-mgmt/vpc/id\" LambdaSubnetIds=\"/school-mgmt/vpc/lambda-private-subnets\" LambdaSecurityGroupId=\"/school-mgmt/lambda-sg-id\" DatabaseSecurityGroupId=\"/school-mgmt/db/mongo-sg-id\" Environment=\"dev\""

[default.sync.parameters]
watch = true